<%= stylesheet_link_tag 'admins', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="page">
    <div class="page_container">
        <%=render partial: 'shared/admin_nav' %>
        <div class="contant">
            <p>MAIN ADMIN PAGE.</p>
            <p>Late I have to put some information here.</p>
        </div>
    </div>
</div>
