<div class="nav_bar">
  <%= link_to "Admin page", admin_path, class: "nav_link"%>
  <%= link_to "Goods", admin_goods_path, class: "nav_link"%>
  <%= link_to "Orders", admin_orders_path, class: "nav_link"%>
  <%= link_to "Clients", admin_clients_path, class: "nav_link"%>
</div>