.order_content{
    border: 2px solid black;
    margin: 20px;
    padding: 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

p{
    margin: 5px 10px;
}

.order_text{
    font-size: 18px;
    font-weight: 700;
}

.or_number{
    font-size: 30px;
}

.good_column{
    display: flex;
    flex-direction: column;
}